In [3]:
!git clone https://github.com/Pyroxene889/Store-Sales

Cloning into 'Store-Sales'...
remote: Enumerating objects: 30, done.
remote: Counting objects: 100% (30/30), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 30 (delta 9), reused 10 (delta 2), pack-reused 0
Unpacking objects: 100% (30/30), 79.20 KiB | 1.65 MiB/s, done.

In [10]:
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (7.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.25.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (4.0.0)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [11]:
import opendatasets as od
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [12]:
od.download(
	"https://www.kaggle.com/datasets/ubiratanfilho/store-forecasting-sales-merged-tables", force = True)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: ikramlaaouane
Your Kaggle Key: ··········
Downloading store-forecasting-sales-merged-tables.zip to ./store-forecasting-sales-merged-tables

100%|██████████| 13.2M/13.2M [00:00<00:00, 98.8MB/s]

In [13]:
# reading the csv file
file =('/content/store-forecasting-sales-merged-tables/test_data_cleaned.csv')
newData = pd.read_csv(file)

# displaying the contents of the csv file
newData.head()

,date,store_nbr,family,onpromotion,city,type_of_store,cluster,dcoilwtico,transactions,n_holidays
0,2017-08-16,1,Others,0,Quito,D,13,46.8,NaN,0.0
1,2017-08-16,1,Others,0,Quito,D,13,46.8,NaN,0.0
2,2017-08-16,1,Others,2,Quito,D,13,46.8,NaN,0.0
3,2017-08-16,1,BEVERAGES,20,Quito,D,13,46.8,NaN,0.0
4,2017-08-16,1,Others,0,Quito,D,13,46.8,NaN,0.0

In [14]:
df_train = pd.read_csv('/content/store-forecasting-sales-merged-tables/train_data_cleaned.csv')

groupe_family= df_train.groupby(['family'])['family'].count()

print(groupe_family)

family
BEVERAGES          90936
BREAD/BAKERY       90936
CLEANING           90936
DAIRY              90936
DELI               90936
GROCERY I          90936
MEATS              90936
Others           2091528
PERSONAL CARE      90936
POULTRY            90936
PRODUCE            90936
Name: family, dtype: int64

In [7]:
import pandas as pd

df_train = pd.read_csv('/content/Store-Sales/test_data_cleaned.csv')
#df_train = pd.read_csv('test_data_cleaned.csv')


print("hello word")
x=4
x=5
print(x)


df_train.describe()

hello word
5

,store_nbr,onpromotion,cluster,dcoilwtico,transactions,n_holidays
count,28512.000000,28512.000000,28512.000000,21384.000000,0.0,28512.000000
mean,27.500000,6.965383,8.481481,47.243333,NaN,0.062500
std,15.586057,20.683952,4.649816,0.753922,NaN,0.242066
min,1.000000,0.000000,1.000000,45.960000,NaN,0.000000
25%,14.000000,0.000000,4.000000,46.715000,NaN,0.000000
50%,27.500000,0.000000,8.500000,47.250000,NaN,0.000000
75%,41.000000,6.000000,13.000000,47.650000,NaN,0.000000
max,54.000000,646.000000,17.000000,48.590000,NaN,1.000000

In [8]:
groupe_family= df_train.groupby(['family'])['family'].count()

print(groupe_family)

print('Row count is:', len(groupe_family.index))

family
BEVERAGES          864
BREAD/BAKERY       864
CLEANING           864
DAIRY              864
DELI               864
GROCERY I          864
MEATS              864
Others           19872
PERSONAL CARE      864
POULTRY            864
PRODUCE            864
Name: family, dtype: int64
Row count is: 11

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           28512 non-null  object
 1   store_nbr      28512 non-null  int64
 2   family         28512 non-null  object
 3   onpromotion    28512 non-null  int64
 4   city           28512 non-null  object
 5   type_of_store  28512 non-null  object
 6   cluster        28512 non-null  int64
 7   dcoilwtico     21384 non-null  float64
 8   transactions   0 non-null      float64
 9   n_holidays     28512 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 2.2+ MB